In [46]:
import pandas as pd

data_nadhira = pd.read_clipboard()

# Menampilkan data
print(data_nadhira)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
1    114200  2030         4          2       3    No         East
2    114800  1740         3          2       1    No         East
3     94700  1980         3          2       3    No         East
4    119800  2130         3          3       3    No         East
..      ...   ...       ...        ...     ...   ...          ...
123  119700  1900         3          3       3   Yes         East
124  147900  2160         4          3       3   Yes         East
125  113500  2070         2          2       2    No        North
126  149900  2020         3          3       1    No         West
127  124600  2250         3          3       4    No        North

[128 rows x 7 columns]

In [47]:
nadhira = data_nadhira[data_nadhira['Bedrooms'] == 2]

# Menampilkan nama
print(nadhira)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
11   123000  1870         2          2       2   Yes         East
18   111400  1700         2          2       1   Yes         East
28    69100  1600         2          2       3    No        North
31   112300  1930         2          2       2   Yes        North
34   117800  2000         2          2       3    No        North
36   117500  1880         2          2       2    No        North
40   106600  1560         2          2       1    No         East
42   105600  1990         2          2       3    No         East
46   129800  1990         2          3       2    No        North
48   115900  1980         2          2       2    No         East
51    91100  1860         2          2       3    No        North
52   117400  2150         2          3       4    No        North
55   125700  1720         2          2       2   Yes         East
61   100900  1610         2          2       2    No        North
63   120500  1910         2          3       2    No         East
65   111100  1450         2          2       1   Yes        North
75   106900  1900         2          2       2    No        North
82   164800  2050         2          2       1   Yes         West
84    90500  1520         2          2       3    No        North
89    97800  2010         2          2       4    No        North
95   152500  1970         2          2       1   Yes         West
97   126800  2000         2          2       1   Yes         East
110  111600  1710         2          2       1    No        North
111  114900  1740         2          2       2    No        North
112  123600  1940         2          2       2   Yes         East
119  109700  1920         2          2       4    No        North
120  110400  1930         2          3       3    No        North
122  144800  2060         2          2       1   Yes         East
125  113500  2070         2          2       2    No        North

In [49]:
nadhira['Bathrooms'] = pd.to_numeric(nadhira['Bathrooms'])

import numpy as np

nadhira['Bathrooms'] = nadhira['Bathrooms'].apply(lambda x: 'large' if x > 2 else 'small')

# Menampilkan DataFrame setelah modifikasi
print(nadhira)

ValueError: Unable to parse string "small" at position 0

In [50]:
import numpy as np

nadhira['newvariable'] = np.where(nadhira['Offers'] > 2, 'large', 'small')

# Menampilkan DataFrame 'nama' setelah penambahan kolom baru
print(nadhira)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood newvariable
0    114300  1790         2     small       2    No         East       small
11   123000  1870         2     small       2   Yes         East       small
18   111400  1700         2     small       1   Yes         East       small
28    69100  1600         2     small       3    No        North       large
31   112300  1930         2     small       2   Yes        North       small
34   117800  2000         2     small       3    No        North       large
36   117500  1880         2     small       2    No        North       small
40   106600  1560         2     small       1    No         East       small
42   105600  1990         2     small       3    No         East       large
46   129800  1990         2     large       2    No        North       small
48   115900  1980         2     small       2    No         East       small
51    91100  1860         2     small       3    No        North       large
52   117400  2150         2     large       4    No        North       large
55   125700  1720         2     small       2   Yes         East       small
61   100900  1610         2     small       2    No        North       small
63   120500  1910         2     large       2    No         East       small
65   111100  1450         2     small       1   Yes        North       small
75   106900  1900         2     small       2    No        North       small
82   164800  2050         2     small       1   Yes         West       small
84    90500  1520         2     small       3    No        North       large
89    97800  2010         2     small       4    No        North       large
95   152500  1970         2     small       1   Yes         West       small
97   126800  2000         2     small       1   Yes         East       small
110  111600  1710         2     small       1    No        North       small
111  114900  1740         2     small       2    No        North       small
112  123600  1940         2     small       2   Yes         East       small
119  109700  1920         2     small       4    No        North       large
120  110400  1930         2     large       3    No        North       large
122  144800  2060         2     small       1   Yes         East       small
125  113500  2070         2     small       2    No        North       small

C:\Users\dirar\AppData\Local\Temp\ipykernel_22672\3172092810.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nadhira['newvariable'] = np.where(nadhira['Offers'] > 2, 'large', 'small')

In [51]:
# Menambahkan kolom baru 'newvariable' 
nadhira['newvariable'] = nadhira['Price'] / nadhira['SqFt']

# Menampilkan DataFrame 'nama' setelah penambahan kolom baru
print(nadhira)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood  newvariable
0    114300  1790         2     small       2    No         East    63.854749
11   123000  1870         2     small       2   Yes         East    65.775401
18   111400  1700         2     small       1   Yes         East    65.529412
28    69100  1600         2     small       3    No        North    43.187500
31   112300  1930         2     small       2   Yes        North    58.186528
34   117800  2000         2     small       3    No        North    58.900000
36   117500  1880         2     small       2    No        North    62.500000
40   106600  1560         2     small       1    No         East    68.333333
42   105600  1990         2     small       3    No         East    53.065327
46   129800  1990         2     large       2    No        North    65.226131
48   115900  1980         2     small       2    No         East    58.535354
51    91100  1860         2     small       3    No        North    48.978495
52   117400  2150         2     large       4    No        North    54.604651
55   125700  1720         2     small       2   Yes         East    73.081395
61   100900  1610         2     small       2    No        North    62.670807
63   120500  1910         2     large       2    No         East    63.089005
65   111100  1450         2     small       1   Yes        North    76.620690
75   106900  1900         2     small       2    No        North    56.263158
82   164800  2050         2     small       1   Yes         West    80.390244
84    90500  1520         2     small       3    No        North    59.539474
89    97800  2010         2     small       4    No        North    48.656716
95   152500  1970         2     small       1   Yes         West    77.411168
97   126800  2000         2     small       1   Yes         East    63.400000
110  111600  1710         2     small       1    No        North    65.263158
111  114900  1740         2     small       2    No        North    66.034483
112  123600  1940         2     small       2   Yes         East    63.711340
119  109700  1920         2     small       4    No        North    57.135417
120  110400  1930         2     large       3    No        North    57.202073
122  144800  2060         2     small       1   Yes         East    70.291262
125  113500  2070         2     small       2    No        North    54.830918

C:\Users\dirar\AppData\Local\Temp\ipykernel_22672\1679686313.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nadhira['newvariable'] = nadhira['Price'] / nadhira['SqFt']

In [52]:
nadhira = nadhira.drop(columns=['newvariable'])

# Menampilkan DataFrame 'nama' 
print(nadhira)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood
0    114300  1790         2     small       2    No         East
11   123000  1870         2     small       2   Yes         East
18   111400  1700         2     small       1   Yes         East
28    69100  1600         2     small       3    No        North
31   112300  1930         2     small       2   Yes        North
34   117800  2000         2     small       3    No        North
36   117500  1880         2     small       2    No        North
40   106600  1560         2     small       1    No         East
42   105600  1990         2     small       3    No         East
46   129800  1990         2     large       2    No        North
48   115900  1980         2     small       2    No         East
51    91100  1860         2     small       3    No        North
52   117400  2150         2     large       4    No        North
55   125700  1720         2     small       2   Yes         East
61   100900  1610         2     small       2    No        North
63   120500  1910         2     large       2    No         East
65   111100  1450         2     small       1   Yes        North
75   106900  1900         2     small       2    No        North
82   164800  2050         2     small       1   Yes         West
84    90500  1520         2     small       3    No        North
89    97800  2010         2     small       4    No        North
95   152500  1970         2     small       1   Yes         West
97   126800  2000         2     small       1   Yes         East
110  111600  1710         2     small       1    No        North
111  114900  1740         2     small       2    No        North
112  123600  1940         2     small       2   Yes         East
119  109700  1920         2     small       4    No        North
120  110400  1930         2     large       3    No        North
122  144800  2060         2     small       1   Yes         East
125  113500  2070         2     small       2    No        North

In [53]:
kolom1dan2 = data_nadhira.iloc[:, 0:2]

# Menampilkan DataFrame kolom1dan2
print(kolom1dan2)

      Price  SqFt
0    114300  1790
1    114200  2030
2    114800  1740
3     94700  1980
4    119800  2130
..      ...   ...
123  119700  1900
124  147900  2160
125  113500  2070
126  149900  2020
127  124600  2250

[128 rows x 2 columns]

In [54]:
# Memilih kolom 1 dan 2 dari DataFrame data_nama
kolom3dan4 = data_nadhira.iloc[:, 2:4]

# Menampilkan DataFrame kolom3dan4
print(kolom3dan4)

     Bedrooms  Bathrooms
0           2          2
1           4          2
2           3          2
3           3          2
4           3          3
..        ...        ...
123         3          3
124         4          3
125         2          2
126         3          3
127         3          3

[128 rows x 2 columns]

In [55]:
#Menggabungkan dua DataFrame 
kolom1sd4 = pd.concat([kolom1dan2, kolom3dan4], axis=1)

# Menampilkan DataFrame kolom1sd4
print(kolom1sd4)

      Price  SqFt  Bedrooms  Bathrooms
0    114300  1790         2          2
1    114200  2030         4          2
2    114800  1740         3          2
3     94700  1980         3          2
4    119800  2130         3          3
..      ...   ...       ...        ...
123  119700  1900         3          3
124  147900  2160         4          3
125  113500  2070         2          2
126  149900  2020         3          3
127  124600  2250         3          3

[128 rows x 4 columns]

In [56]:
import pandas as pd

# Menggabungkan baris dari dua DataFrame
baris1sd3 = data_nadhira.iloc[0:3, :]
baris4sd6 = data_nadhira.iloc[3:6, :]
baris1sd6 = pd.concat([baris1sd3,baris4sd6])

# Menampilkan DataFrame baris1sd6
print(baris1sd6)

    Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0  114300  1790         2          2       2    No         East
1  114200  2030         4          2       3    No         East
2  114800  1740         3          2       1    No         East
3   94700  1980         3          2       3    No         East
4  119800  2130         3          3       3    No         East
5  114600  1780         3          2       2    No        North

In [57]:
data_nadhira_sort = data_nadhira.sort_values(by='Price')
print(data_nadhira_sort)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
28    69100  1600         2          2       3    No        North
54    81300  1650         3          2       3    No        North
104   82300  1910         3          2       4    No         East
17    83600  1990         3          3       4    No        North
47    90300  2050         3          2       6    No        North
..      ...   ...       ...        ...     ...   ...          ...
81   184300  2140         4          3       2   Yes         West
29   188000  2040         4          3       1   Yes         West
85   188300  2250         4          3       2   Yes         West
116  199500  2290         5          4       1   Yes         West
103  211200  2440         4          3       3   Yes         West

[128 rows x 7 columns]

In [31]:
import pandas as pd

data_nadhira = pd.read_clipboard()
print(data_nadhira)

    No.                    Nama Lengkap Gender  Angkatan  Tinggi  Badan  \
0     1                   Achmad Muqafi      L      2023            165
1     2         Aditya Fajrian Aryadeva      L      2023            165
2     3   Almakius Felix Bariq Hekopung      L      2023            165
3     4       Andrew Hendrian Nathanael      L      2023            165
4     5             April lesa farsilis      P      2023            165
5     6               Ariel Febrio Hadi      L      2023            160
6     7                 Arik Dias Putra      L      2023            160
7     8                    Aurel regina      P      2023            160
8     9             BAHRUDIN IZMI AULIA      L      2023            160
9    10           Bambang Aji WIcaksono      L      2023            160
10   11         Bidzi Mawfa Ferdiansyah      L      2023            160
11   12                 Calista Azzahra      P      2023            160
12   13                Dafasyah adinata      L      2023            160
13   14      Daud Marthinus Paul Jitmau      L      2023            163
14   15                  Dave Ryano F.M      L      2023            163
15   16   Dewanto Maulana Sukarno Putra      L      2023            163
16   17      Dyah Kartika Putri (Putri)      P      2023            163
17   18                     Ersa Ashari      L      2023            163
18   19      Fadhil Ibrahim Wira Dharma      L      2023            163
19   20                 Fairuz Maulidya      L      2023            163
20   21                     Naswa Aulia      P      2023            159
21   22                Nicholas Saputra      L      2023            159
22   23       Nicodemus Arjuna Prasetyo      L      2023            159
23   24                   Noval Susanto      L      2023            159
24   25  Novan Andreas Imanuel pasaribu      L      2023            167
25   26                        Nur Imam      L      2023            167
26   27           NUZURUL HAQI FADILLAH      L      2023            167
27   28                  Partahi daniel      L      2023            167
28   29     rachel azzahra putri lukito      P      2023            170
29   30          rafael gala herlambang      L      2023            170

    Waktu Perjalanan Wilayah Tinggal
0                 35      TANGGERANG
1                 35      TANGGERANG
2                 35      TANGGERANG
3                 35      TANGGERANG
4                 35      TANGGERANG
5                 35      TANGGERANG
6                 35          BEKASI
7                 35          BEKASI
8                 35          BEKASI
9                 60          BEKASI
10                60         JAKARTA
11                60         JAKARTA
12                60         JAKARTA
13                15         JAKARTA
14                15         JAKARTA
15                15         JAKARTA
16                15         JAKARTA
17                15         JAKARTA
18                20         JAKARTA
19                20         JAKARTA
20                40         CIBUBUR
21                40         CIBUBUR
22                40         CIBUBUR
23                40         CIBUBUR
24                40         CIBUBUR
25                40         CIBUBUR
26                30         CIBUBUR
27                30        PALMERAH
28                30        PALMERAH
29                30        PALMERAH

In [32]:
nadhira = data_nadhira[data_nadhira['Tinggi  Badan'] == 160 ]

# Menampilkan nama
print(nadhira)

    No.             Nama Lengkap Gender  Angkatan  Tinggi  Badan  \
5     6        Ariel Febrio Hadi      L      2023            160
6     7          Arik Dias Putra      L      2023            160
7     8             Aurel regina      P      2023            160
8     9      BAHRUDIN IZMI AULIA      L      2023            160
9    10    Bambang Aji WIcaksono      L      2023            160
10   11  Bidzi Mawfa Ferdiansyah      L      2023            160
11   12          Calista Azzahra      P      2023            160
12   13         Dafasyah adinata      L      2023            160

    Waktu Perjalanan Wilayah Tinggal
5                 35      TANGGERANG
6                 35          BEKASI
7                 35          BEKASI
8                 35          BEKASI
9                 60          BEKASI
10                60         JAKARTA
11                60         JAKARTA
12                60         JAKARTA

In [33]:
nadhira['Tinggi  Badan'] = pd.to_numeric(nadhira['Tinggi  Badan'])

import numpy as np

nadhira ['Tinggi  Badan'] = nadhira['Tinggi  Badan'].apply(lambda x: 'tinggi' if x > 160 else 'pendek')

# Menampilkan DataFrame setelah modifikasi
print(nadhira)

    No.             Nama Lengkap Gender  Angkatan Tinggi  Badan  \
5     6        Ariel Febrio Hadi      L      2023        pendek
6     7          Arik Dias Putra      L      2023        pendek
7     8             Aurel regina      P      2023        pendek
8     9      BAHRUDIN IZMI AULIA      L      2023        pendek
9    10    Bambang Aji WIcaksono      L      2023        pendek
10   11  Bidzi Mawfa Ferdiansyah      L      2023        pendek
11   12          Calista Azzahra      P      2023        pendek
12   13         Dafasyah adinata      L      2023        pendek

    Waktu Perjalanan Wilayah Tinggal
5                 35      TANGGERANG
6                 35          BEKASI
7                 35          BEKASI
8                 35          BEKASI
9                 60          BEKASI
10                60         JAKARTA
11                60         JAKARTA
12                60         JAKARTA

C:\Users\dirar\AppData\Local\Temp\ipykernel_22672\1669379472.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nadhira['Tinggi  Badan'] = pd.to_numeric(nadhira['Tinggi  Badan'])
C:\Users\dirar\AppData\Local\Temp\ipykernel_22672\1669379472.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nadhira ['Tinggi  Badan'] = nadhira['Tinggi  Badan'].apply(lambda x: 'tinggi' if x > 160 else 'pendek')

In [34]:
import numpy as np

nadhira['Jurusan']='Infor20'
nadhira['Fakultas']='FTI'

# Menampilkan DataFrame 'nama' setelah penambahan kolom baru
print(nadhira)

    No.             Nama Lengkap Gender  Angkatan Tinggi  Badan  \
5     6        Ariel Febrio Hadi      L      2023        pendek
6     7          Arik Dias Putra      L      2023        pendek
7     8             Aurel regina      P      2023        pendek
8     9      BAHRUDIN IZMI AULIA      L      2023        pendek
9    10    Bambang Aji WIcaksono      L      2023        pendek
10   11  Bidzi Mawfa Ferdiansyah      L      2023        pendek
11   12          Calista Azzahra      P      2023        pendek
12   13         Dafasyah adinata      L      2023        pendek

    Waktu Perjalanan Wilayah Tinggal  Jurusan Fakultas
5                 35      TANGGERANG  Infor20      FTI
6                 35          BEKASI  Infor20      FTI
7                 35          BEKASI  Infor20      FTI
8                 35          BEKASI  Infor20      FTI
9                 60          BEKASI  Infor20      FTI
10                60         JAKARTA  Infor20      FTI
11                60         JAKARTA  Infor20      FTI
12                60         JAKARTA  Infor20      FTI

C:\Users\dirar\AppData\Local\Temp\ipykernel_22672\512089759.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nadhira['Jurusan']='Infor20'
C:\Users\dirar\AppData\Local\Temp\ipykernel_22672\512089759.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nadhira['Fakultas']='FTI'

In [35]:
nadhira = nadhira.drop(columns=['Fakultas'])

# Menampilkan DataFrame 'nama' 
print(nadhira)

    No.             Nama Lengkap Gender  Angkatan Tinggi  Badan  \
5     6        Ariel Febrio Hadi      L      2023        pendek
6     7          Arik Dias Putra      L      2023        pendek
7     8             Aurel regina      P      2023        pendek
8     9      BAHRUDIN IZMI AULIA      L      2023        pendek
9    10    Bambang Aji WIcaksono      L      2023        pendek
10   11  Bidzi Mawfa Ferdiansyah      L      2023        pendek
11   12          Calista Azzahra      P      2023        pendek
12   13         Dafasyah adinata      L      2023        pendek

    Waktu Perjalanan Wilayah Tinggal  Jurusan
5                 35      TANGGERANG  Infor20
6                 35          BEKASI  Infor20
7                 35          BEKASI  Infor20
8                 35          BEKASI  Infor20
9                 60          BEKASI  Infor20
10                60         JAKARTA  Infor20
11                60         JAKARTA  Infor20
12                60         JAKARTA  Infor20

In [36]:
kolom1dan2 = data_nadhira.iloc[:, 0:2]

# Menampilkan DataFrame kolom1dan2
print(kolom1dan2)

    No.                    Nama Lengkap
0     1                   Achmad Muqafi
1     2         Aditya Fajrian Aryadeva
2     3   Almakius Felix Bariq Hekopung
3     4       Andrew Hendrian Nathanael
4     5             April lesa farsilis
5     6               Ariel Febrio Hadi
6     7                 Arik Dias Putra
7     8                    Aurel regina
8     9             BAHRUDIN IZMI AULIA
9    10           Bambang Aji WIcaksono
10   11         Bidzi Mawfa Ferdiansyah
11   12                 Calista Azzahra
12   13                Dafasyah adinata
13   14      Daud Marthinus Paul Jitmau
14   15                  Dave Ryano F.M
15   16   Dewanto Maulana Sukarno Putra
16   17      Dyah Kartika Putri (Putri)
17   18                     Ersa Ashari
18   19      Fadhil Ibrahim Wira Dharma
19   20                 Fairuz Maulidya
20   21                     Naswa Aulia
21   22                Nicholas Saputra
22   23       Nicodemus Arjuna Prasetyo
23   24                   Noval Susanto
24   25  Novan Andreas Imanuel pasaribu
25   26                        Nur Imam
26   27           NUZURUL HAQI FADILLAH
27   28                  Partahi daniel
28   29     rachel azzahra putri lukito
29   30          rafael gala herlambang

In [37]:
# Memilih kolom 1 dan 2 dari DataFrame data_nama
kolom3dan4 = data_nadhira.iloc[:, 2:4]

# Menampilkan DataFrame kolom3dan4
print(kolom3dan4)

   Gender  Angkatan
0       L      2023
1       L      2023
2       L      2023
3       L      2023
4       P      2023
5       L      2023
6       L      2023
7       P      2023
8       L      2023
9       L      2023
10      L      2023
11      P      2023
12      L      2023
13      L      2023
14      L      2023
15      L      2023
16      P      2023
17      L      2023
18      L      2023
19      L      2023
20      P      2023
21      L      2023
22      L      2023
23      L      2023
24      L      2023
25      L      2023
26      L      2023
27      L      2023
28      P      2023
29      L      2023

In [38]:
#Menggabungkan dua DataFrame 
kolom1sd4 = pd.concat([kolom1dan2, kolom3dan4], axis=1)

# Menampilkan DataFrame kolom1sd4
print(kolom1sd4)

    No.                    Nama Lengkap Gender  Angkatan
0     1                   Achmad Muqafi      L      2023
1     2         Aditya Fajrian Aryadeva      L      2023
2     3   Almakius Felix Bariq Hekopung      L      2023
3     4       Andrew Hendrian Nathanael      L      2023
4     5             April lesa farsilis      P      2023
5     6               Ariel Febrio Hadi      L      2023
6     7                 Arik Dias Putra      L      2023
7     8                    Aurel regina      P      2023
8     9             BAHRUDIN IZMI AULIA      L      2023
9    10           Bambang Aji WIcaksono      L      2023
10   11         Bidzi Mawfa Ferdiansyah      L      2023
11   12                 Calista Azzahra      P      2023
12   13                Dafasyah adinata      L      2023
13   14      Daud Marthinus Paul Jitmau      L      2023
14   15                  Dave Ryano F.M      L      2023
15   16   Dewanto Maulana Sukarno Putra      L      2023
16   17      Dyah Kartika Putri (Putri)      P      2023
17   18                     Ersa Ashari      L      2023
18   19      Fadhil Ibrahim Wira Dharma      L      2023
19   20                 Fairuz Maulidya      L      2023
20   21                     Naswa Aulia      P      2023
21   22                Nicholas Saputra      L      2023
22   23       Nicodemus Arjuna Prasetyo      L      2023
23   24                   Noval Susanto      L      2023
24   25  Novan Andreas Imanuel pasaribu      L      2023
25   26                        Nur Imam      L      2023
26   27           NUZURUL HAQI FADILLAH      L      2023
27   28                  Partahi daniel      L      2023
28   29     rachel azzahra putri lukito      P      2023
29   30          rafael gala herlambang      L      2023

In [42]:
import pandas as pd

# Menggabungkan baris dari dua DataFrame
baris1sd5 = data_nadhira.iloc[0:5, :]
baris25sd30 = data_nadhira.iloc[24:31, :]
baris1sd5dan25sd30 = pd.concat([baris1sd5, baris25sd30])

# Menampilkan DataFrame baris1sd6
print(baris1sd5dan25sd30)

    No.                    Nama Lengkap Gender  Angkatan  Tinggi  Badan  \
0     1                   Achmad Muqafi      L      2023            165
1     2         Aditya Fajrian Aryadeva      L      2023            165
2     3   Almakius Felix Bariq Hekopung      L      2023            165
3     4       Andrew Hendrian Nathanael      L      2023            165
4     5             April lesa farsilis      P      2023            165
24   25  Novan Andreas Imanuel pasaribu      L      2023            167
25   26                        Nur Imam      L      2023            167
26   27           NUZURUL HAQI FADILLAH      L      2023            167
27   28                  Partahi daniel      L      2023            167
28   29     rachel azzahra putri lukito      P      2023            170
29   30          rafael gala herlambang      L      2023            170

    Waktu Perjalanan Wilayah Tinggal
0                 35      TANGGERANG
1                 35      TANGGERANG
2                 35      TANGGERANG
3                 35      TANGGERANG
4                 35      TANGGERANG
24                40         CIBUBUR
25                40         CIBUBUR
26                30         CIBUBUR
27                30        PALMERAH
28                30        PALMERAH
29                30        PALMERAH

In [43]:
data_nadhira_sort = data_nadhira.sort_values(by='Waktu Perjalanan')
print(data_nadhira_sort)

    No.                    Nama Lengkap Gender  Angkatan  Tinggi  Badan  \
14   15                  Dave Ryano F.M      L      2023            163
17   18                     Ersa Ashari      L      2023            163
16   17      Dyah Kartika Putri (Putri)      P      2023            163
15   16   Dewanto Maulana Sukarno Putra      L      2023            163
13   14      Daud Marthinus Paul Jitmau      L      2023            163
19   20                 Fairuz Maulidya      L      2023            163
18   19      Fadhil Ibrahim Wira Dharma      L      2023            163
27   28                  Partahi daniel      L      2023            167
26   27           NUZURUL HAQI FADILLAH      L      2023            167
28   29     rachel azzahra putri lukito      P      2023            170
29   30          rafael gala herlambang      L      2023            170
0     1                   Achmad Muqafi      L      2023            165
1     2         Aditya Fajrian Aryadeva      L      2023            165
2     3   Almakius Felix Bariq Hekopung      L      2023            165
8     9             BAHRUDIN IZMI AULIA      L      2023            160
7     8                    Aurel regina      P      2023            160
6     7                 Arik Dias Putra      L      2023            160
5     6               Ariel Febrio Hadi      L      2023            160
4     5             April lesa farsilis      P      2023            165
3     4       Andrew Hendrian Nathanael      L      2023            165
25   26                        Nur Imam      L      2023            167
24   25  Novan Andreas Imanuel pasaribu      L      2023            167
23   24                   Noval Susanto      L      2023            159
20   21                     Naswa Aulia      P      2023            159
21   22                Nicholas Saputra      L      2023            159
22   23       Nicodemus Arjuna Prasetyo      L      2023            159
10   11         Bidzi Mawfa Ferdiansyah      L      2023            160
9    10           Bambang Aji WIcaksono      L      2023            160
12   13                Dafasyah adinata      L      2023            160
11   12                 Calista Azzahra      P      2023            160

    Waktu Perjalanan Wilayah Tinggal
14                15         JAKARTA
17                15         JAKARTA
16                15         JAKARTA
15                15         JAKARTA
13                15         JAKARTA
19                20         JAKARTA
18                20         JAKARTA
27                30        PALMERAH
26                30         CIBUBUR
28                30        PALMERAH
29                30        PALMERAH
0                 35      TANGGERANG
1                 35      TANGGERANG
2                 35      TANGGERANG
8                 35          BEKASI
7                 35          BEKASI
6                 35          BEKASI
5                 35      TANGGERANG
4                 35      TANGGERANG
3                 35      TANGGERANG
25                40         CIBUBUR
24                40         CIBUBUR
23                40         CIBUBUR
20                40         CIBUBUR
21                40         CIBUBUR
22                40         CIBUBUR
10                60         JAKARTA
9                 60          BEKASI
12                60         JAKARTA
11                60         JAKARTA